name: Slipway Test 

on: [push]

jobs:

  clojure:
    runs-on: ubuntu-latest 

    strategy:
      fail-fast: false
      matrix:
        project: [slipway-jetty9, slipway-jetty10, slipway-jetty11]

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Java8
        if: ${{ matrix.project == 'slipway-jetty9' }}
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '8'

      - name: Setup Java11
        if: ${{ matrix.project != 'slipway-jetty9' }}
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '11'

      - name: Install clojure tools
        uses: DeLaGuardo/setup-clojure@4.0
        with:
          lein: 'latest' 
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Check
        working-directory: ./${{ matrix.project }}
        run: lein with-profile +smoke deps
        
      - name: Fmt
        working-directory: ./${{ matrix.project }}
        run: lein fmt
      
      - name: Kondo
        working-directory: ./${{ matrix.project }}
        run: lein kondo

      - name: Kaocha
        working-directory: ./${{ matrix.project }}
        run: lein kaocha

      - name: Uberjar
        working-directory: ./${{ matrix.project }}
        run: lein uberjar

      - name: NVD
        working-directory: ./${{ matrix.project }}
        run: ../scripts/dependency-checker.sh

      - name: Persist NVD
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: NVD result
          path: ./${{ matrix.project }}/dependency-check/report/*
          retention-days: 1
